* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    
}

/* index information*/


#main-container {
    margin: 10px;
}

#home-info {
    display: flex;
    background-color: #e8e8e8;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
}


#general-info {
    padding: 30px 10px 0 10px;
    font-size: 15px;
    line-height: 22px;
}

#car-img {
    margin-bottom: 10px;
}



.social-media-links {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
}

.container-info {
    margin: 10px 20px;
    align-items: center;
    /* display: block; */
    justify-content: center;
    font-weight: 400;
    max-width: 100%;
    text-size-adjust: 100%;
    display: block;
    flex-basis: auto;
    box-sizing: border-box;
}

#car-img img {
    transition: all .8s ease-in-out 0s;
}

 img:hover {
    cursor: default;
    transform: rotateY(180deg);
    transition: all 0.3s ease-in-out 0s;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.home-btn {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    color: rgba(79, 97, 42, 0.9);
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.home-btn:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0px 2px 6px rgb(3, 54, 18);
    transition: 300ms ease-in-out;
    cursor: pointer;
    background-color: #725811;
    color: white;
}

.info {
    font-weight: 600;
    font-size: 25px;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    color: transparent;
    transition: all 1s;
    text-transform:uppercase;
}

.info:hover {
    transform:skewY(2deg) skewX(15deg);
    text-shadow:.5rem  2rem 2rem rgba(0, 0, 0, 0.2);
}

#car-img img:hover {
    transform: rotateY(-180deg);
}

#car-img img {
    transition: all .8s ease-in-out;
}






.navigation{
    background-color: rgb(239, 241, 243);
}


nav.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
}

nav.navBar img{
    width: 90px;
    padding: 10px 0px ;

}
div.navLinks a {
    text-decoration: none;
    padding-right: 10px;
    color: black;
    cursor: pointer;
    
}

div.navLinks a:hover{
    color: rgb(11, 168, 11);
    font-weight: bolder;
}

#hamburger {
    position: absolute;
    right: 150px;
    top: 30px;
    width: 30px;
    display: none;
   
    
}

#hamburger .ham2{
    
    height: 5px;
    
    background-color: rgb(30, 31, 7);
}
#hamburger .ham1{
    
    height: 5px;
    
    background-color: rgb(231, 24, 24);
    
  
}
#hamburger .ham3{
    background-color: rgb(3, 168, 11);
    height: 5px;

}
section.motto{

    background-color: rgb(101, 128, 101);
    min-height: 20em;
    outline: none;
}
section.motto img{
    width: 10em;
}

.motto p{
    padding: 30px;
    color: whitesmoke;
}
.motto button{
    padding: 14px 22px 14px 22px;
    outline: none;
    border: none;
    border-radius: 100px;
}

.motto button:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 2px 6px rgb(3, 54, 18);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.wrap{
    text-align: center;
    padding-top: 20px;
}
.wrap p{
    font-family: script;
}

aside.sideBar{
    min-height: 100vh;
    position: absolute;
    width: 300px;
    background-image: linear-gradient(to bottom,  rgb(134, 224, 179), rgb(101, 128, 101));
    top: 0;
    /* display: none; */
    right: 0;
    transform: translateX(400px);
    z-index: 10;
}
.side-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 3em;
     flex-direction: column;
    
    
    height: 100vh;
}


#sidelinks.toggle{
   /* display: inline-block; */
   transform: translateX(0px);
}
#sidelinks.hide{
    transform: translateX(400px);
    transition: 100ms;
}

.cancel{
    width: 30px;
    position: absolute;
    right: 40px;
    margin-top: 20px;
    
}

.cancel:hover{
    transform: scale(1.2,1.2);
}


.side-menu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
 
  
}

@media only screen and (max-width: 640px){
    
    
    .navigation .navBar img{
        margin-left: 0;
        
    
    }
  
    .navLinks a{
        display: none;
    }
    #hamburger{
        display: block;
        position: absolute;
        right: 110px;
    }
  

    /* TO DISPLAY CAR IMAGE  */
    #home-info {
        display: block;
    }
}

.btn {
    text-decoration:none;
    text-transform:uppercase;
    padding:1rem 3rem;
    border-radius: 5rem;
    font-size: 1rem;
    position:relative;
    border:2px solid #846c38;
    display:inline-block;
    transition:all .2s;
    background-color: #846c38;
    color: #fff;
}

.btn:hover {
    outline:none;
    transform:translateY(-3px);
    box-shadow:0 1rem 2rem  rgba(14, 13, 13, .5);
}

.header{
    background-image:linear-gradient(to right bottom,rgba(65, 108, 72, 0.9),rgba(79, 97, 42, 0.9)),url(../images/blue-bmw.png);
    background-size:cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.header p{
    font-style: italic;
}

h1 , h2 {
    font-size:3rem;
    text-transform:uppercase;
    font-weight:700;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
    color:transparent;
    transition:all 1s;
}

h1:hover {
    transform:skewY(2deg) skewX(15deg);
    text-shadow:.5rem  2rem 2rem rgba(0, 0, 0, 0.2);
}

.main{
    background-color: #e8e8e8;
    width:100%;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan__button {
    position:absolute;
    top:10%;
    justify-content: center;
    width:90%;
    text-align:center;
}


.plan {
    width: 30%;
	height: 20rem;
	color: white;
	perspective:150rem;
	position:relative;
    margin-top: 2em;
    padding-bottom: 2em;
}

.plan__side {
    position:absolute;
    left:0;
    top:0;
    backface-visibility:hidden;
    height:100%;
    width:100%;
    transition:all .9s;  
    box-shadow: 0 1.5rem 4rem rgba(15, 15, 15,.15);   
    overflow:hidden;
}

.plan__side--front {
    background-color: white;
    border-radius: 30px 0 30px 0;
}


.plan__side--back {
    background-color: #416c48ff;
    transform:rotateY(180deg);
    border-radius: 0 30px 0 30px; 
 }

.plan:hover  .plan__side--front{
    transform:rotateY(-180deg); 
}

.plan:hover  .plan__side--back {
    transform:rotateY(0);
}

.plan__image {	
    height:18rem;
    background-size:cover;
    background-blend-mode:overlay; 
    clip-path:polygon(0 0,100% 0, 100% 80%, 0 100%);
}

.plan__heading {
    color: white;
    font-weight:400;
    font-size:2rem;
    text-transform:uppercase;
    position:absolute;
    top:9rem;
    right:2rem;
    width:20rem;
    text-align:right;
    padding:1rem 1.5rem;
    background-image:linear-gradient(to right bottom, rgba(187, 212, 235,.7), rgba(112, 127, 141,.7));
}

.plan__bullets {
        color: #333;
        list-style:none;
        width:90%;
        font-weight: 800;
        margin:0 auto;
        text-align:center;
        font-size:1.3rem;
}

.plan__cost-box {
    color: white;
}

.plan__cost-value {
    font-size:4rem;
    font-weight:100;
}
