* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    
}

.navigation{
    background-color: rgb(239, 241, 243);
}


nav.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}

nav.navBar img{
    width: 90px;
    padding: 10px 0px ;

}
div.navLinks a{
    text-decoration: none;
    padding-right: 10px;
    color: black;
    cursor: pointer;
}
#hamburger {
    position: absolute;
    
    display: none;
    max-width: 100%;
    
}
section.motto{

    background-color: rgb(101, 128, 101);
    min-height: 20em;
    outline: none;
}
section.motto img{
    width: 10em;
}

.motto p{
    padding: 30px;
    color: whitesmoke;
}
.motto button{
    padding: 14px 22px 14px 22px;
    outline: none;
    border: none;
    border-radius: 100px;
}

.motto button:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 2px 6px rgb(3, 54, 18);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.wrap{
    text-align: center;
    padding-top: 20px;
}

@media only screen and (max-width: 450px){
    
    
    .navigation .navBar img{
        margin-left: 0;
    
    }
    .navBar{
        display: block;
    }
    .navLinks{
        display: none;
    }
    #hamburger{
        display: inline-block;
        position: relative;
        right: 0;
    }
}
